header img {
    background-color: burlywood;
    width: 100%;
    box-sizing: border-box;
    padding:0;
    margin: 0;
    height: 500px;
}
body {
    font-family: cursive;
    align-items: center;
   margin: 5px;
}

    header h4 {
        color: blue;
        font-size: large;
    }


img {

    width: 100%;
    height: 200px;
    align-items: center;
   
}

table {
    align-content: center;
  
    font-family: cursive;
  

}

td{
    background-color: burlywood;
    border: solid red;
}
h4{
    colour: yellow ;
}

h2{ background-color:coral;
    padding: 20px;
text-align: center;}

h1{ background-color:coral;
    text-align: center;
padding-bottom: 10px;}

.container{

    background-color: gray;
    align-content: center;
    margin: 0;
}

h1{
    text-align: center;
}

tbody{
    align-items: center;
}
nav {
    background-color: coral;
    font-family: cursive;
    font-size: medium;
    text-decoration: wavy;
    padding: 0;
}